*
{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    color: #575A6C;
}

button
{
    border-radius: 30px !important;
    background-color: #B4C540 !important;
    border-color: #B4C540 !important;
}

input, textarea, .card
{
    border-radius: 30px !important;
}

.navbar
{
    background: rgb(54, 134, 201);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.navbar-brand
{
    font-family: 'Anton', sans-serif;
}

h1, h3, u
{
    color: rgb(54, 134, 201);
    font-family: 'Anton', sans-serif;
}

strong
{
    font-weight: bold;
}

.jumbotron, .row
{
    border-radius: 20px;
}

#self-image
{
    border: 10px solid #B4C540;
    border-radius: 50%;
}

.card-title
{
    font-weight: bold;
}
